.main__chat
  .main__chat__header
    .main__chat__header__left
      .main__chat__header__left__title
      .main__chat__header__left__member
    .main__chat__header__edit
  .main__chat__message
    = render @messages
    .main__chat__message__info
      .main__chat__message__info__member
      .main__chat__message__info__datetime
    .main__chat__message__text
  .main__chat__form
    .main__chat__form__box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: '.main__chat__form__box__input', placeholder: 'type a message'
        .main__chat__form__box__file
          = f.label :image, class: "input-box__image" do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: '.main__chat__form__submit'