.main__chat
  .main__chat__header
    .main__chat__header__left
      .main__chat__header__left__title
        -# = @group.name 
      .main__chat__header__left__member
        -# - @group.users.each do |user| <%  %>
            -#  = user.name <%=  %>
    .main__chat__header__edit
      edit
  .main__chat__messages
    = render @messages
  .main__chat__form
    .main__chat__form__box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__box__input', placeholder: 'type a message'
        .main__chat__form__box__file
          = f.label :image, class: "input-box__image" do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit_btn'